
{% extends "base.html" %}
{% load static %}


    {%block titre %}Détail du spectacle{% endblock titre %}

    {%block content%}
        <style>
          #map {
            width: 100%;
            height: 400px;
            background-color: grey;
      }
        </style>

        <container class=".col-sm-8">
            <h2>{{spectacle.title}}</h2>
            <img class="img-responsive" src="{{spectacle.poster_url}}" alt="{{spectacle.title}}" width="260" height="245">
            <h4>Adresse:</h4>
            <p>{{spectacle.location}}</p>
            <p>{{spectacle.location.address}}</p>
            <p>{{spectacle.location.locality}}</p>

        </container>
        <div id="map" width="100%" height="400px"></div>
<script type="text/javascript">


    function initMap() {
            var URL="https://maps.googleapis.com/maps/api/geocode/json?"+
                "address={{spectacle.location.locality}}+{{spectacle.location.address}},+CA&key=AIzaSyB0ElSzct_-xHvmv_EGhCxR_IrYCuOXyfc";

                $.ajax({
                    dataType:"json",
                    url:URL,
                    success:success
                });

                function success(valeur){
                    LAT=valeur.results[0].geometry.location.lat;
                    LNG=valeur.results[0].geometry.location.lng;
                    var uluru = {lat:parseFloat(LAT), lng:parseFloat(LNG)};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: uluru
                     });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
                }


    }


</script>


        <div id="result"></div>







     {% endblock content %}