
{% extends "base.html" %}
{% load static %}


    {%block titre %}Détail du spectacle{% endblock titre %}

    {%block content%}
        <style>
          #map {
            width: 100%;
            height: 400px;
            background-color: grey;
      }
        </style>

        <div class="container">
            <form action="{% url 'reservations:detail' spectacle.id %}" method="post">
                {% csrf_token %}
                <div class="col-sm-6">

                        <h2>{{spectacle.title}}</h2>
                        <img class="img-responsive" src="{{spectacle.poster_url}}" alt="{{spectacle.title}}" width="260" height="245">
                </div>
                <div class="col-sm-6">

                        <h2>Adresse:</h2>
                        <p>{{spectacle.location}}</p>
                        <p>{{spectacle.location.address}}</p>
                        <p>{{spectacle.location.locality}}</p>
                        <h2>Tarifs</h2>
                            <p>{{spectacle.price}} €</p>
                        <h2>Places disponibles</h2>
                            <p>{{spectacle.location.available_places}}</p>
                        <h2>Réservation</h2>
                        <div class="form-group">
                            <label>Nombre de places</label>
                            <input type="number" class="form-control" id="nombre_place" name="nombre_place" value="1">
                            <button type="submit" class="btn btn-primary">Réserver</button>
                         </div>
                </div>

            </form>


            </div>


        </div>

        <div class="container">
            <div class="col-sm-6">
                <br>
                <div id="map" width="100%" height="400px">

                </div>
            </div>


        </div>


<script type="text/javascript">


    function initMap() {
            var URL="https://maps.googleapis.com/maps/api/geocode/json?"+
                "address={{spectacle.location.locality}}+{{spectacle.location.address}},+CA&key=AIzaSyDWuRBu_QFFux_RXNmj22gHmjNzojzqWMg";

                $.ajax({
                    dataType:"json",
                    url:URL,
                    success:success
                });

                function success(valeur){
                    LAT=valeur.results[0].geometry.location.lat;
                    LNG=valeur.results[0].geometry.location.lng;
                    var uluru = {lat:parseFloat(LAT), lng:parseFloat(LNG)};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: uluru
                     });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
                }


    }


</script>


        <div id="result"></div>







     {% endblock content %}