{% extends 'base.html' %}

{% block content %}

{%block title%}<h1>Réservation de places de spéctacles</h1>{%endblock title%}
    <h2>Liste des spéctacles disponibles</h2>

    <div class="container">
        {% for spectacle in spectacle_dispo%}
            <h3><a href="{% url 'reservations:detail' spectacle.id %}">{{spectacle.title}}</a></h3>
                <img class="img-responsive" src="{{spectacle.poster_url}}" alt="{{spectacle.title}}" width="130" height="130">
                <h4>Adresse :</h4>
                <p>{{spectacle.location}}</p>
                <p>{{spectacle.location.address}}</p>
                <p>{{spectacle.location.locality}}</p>
                <p> Prix :{{spectacle.price}} €</p>


        {%endfor%}

    </div>


{% endblock content %}